<form name="formtweet" ng-submit="add()" onsubmit="return verif()"> <div class="form-group"> <label>Tweet :</label> <div class="characters pull-right">142</div> <textarea ng-model="firstName" id="tweet" class="form-control intweet" rows="2" required></textarea> </div> <div class="form-group"> <label>Auteur :</label> <input type="text" ng-model="lastName" class="form-conrol" required> </div> <div class="form-group has-feedback"> <button type="submit" class="center-block btn btn-primary"> Rooooouuu <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </button> </div> </form> <ul> <li class="liste" ng-repeat="persons in person | orderBy: '-time'"> <div class="tweet"> <a href="#" class="user">{{ persons.lastName }} ‏<small>@{{ persons.lastName }}</small></a> <p> {{ persons.firstName }} </p> </div> </li> </ul> <script>$('.intweet').keyup(function(){
  var tweets = $('.intweet').val().length;
  var tweetLength = 142 - tweets;

  $('.characters').text(tweetLength);
  
  if(tweetLength < 0){
    $('.characters').css("color" , "red");
  } else {
    $('.characters').css("color", "black");
  }
 });</script>